@charset "UTF-8";
body {
	font-family: 'Be Vietnam', sans-serif;
	font-weight: normal;
	font-style: normal;
	overflow-x: hidden;
	background-color: #0C0C0C;
	font-size: 15px;
	color: #E5E5E5}
img {max-width: 100%; }

a{color: #E5E5E5;}
a:hover{color:#FEBB00; text-decoration: none;}

input:focus,
a:focus,
button:focus,
select:focus {
  outline: none !important;
  box-shadow: none !important; }

textarea:focus, input:focus {color: #000;}

p,h3 { margin-bottom: 0; }
ul{list-style-type: none; padding-left: 0; margin-bottom: 0}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6{font-family: 'Be Vietnam', sans-serif;}

.mobile-view{display: none;}
.navbar-brand{margin-left: 15px;}
.menu-top{

	background: -moz-linear-gradient(top,  rgba(12,12,12,1) 20%, rgba(12,12,12,0.8) 65%, rgba(12,12,12,0) 100%);
	background: -webkit-linear-gradient(top,  rgba(12,12,12,1) 20%,rgba(12,12,12,0.8) 65%,rgba(12,12,12,0) 100%);
	background: linear-gradient(180deg,#0c0c0c 20%,rgba(12,12,12,.80) 65%,rgba(12,12,12,0) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0c0c0c', endColorstr='#000c0c0c',GradientType=0 );
}
	.menu-top .nav-item{margin-left:5px; margin-right: 5px;font-size: 16px;position: relative;}
	.menu-top .nav-item .nav-link{
		padding-left: 15px;
		padding-right: 15px;
		/*-webkit-transform: translateX(5px);
		  transform:  translateX(5px);*/
		transition: 0.5s background-color;
		-webkit-transition: 0.5s background-color;}
	.menu-top .nav-item.active .nav-link,.menu-top .nav-item:hover{
		background-color: #FEBB00;
		border-radius: 3px;
		color: #000;
		z-index: 4}
		.menu-top .nav-item:hover a.nav-link{color: #000}
	.menu-top .nav-item:hover .dropdown-menu,
	.dropdown-account:hover .dropdown-menu{ display: block; }
.menu-top .dropdown-menu{
	left: -10%;
	background-color: #0C0C0C;
	border-radius: 5px;
	padding:15px 0px;
	box-shadow: 0 4px 15px rgba(0,0,0,0.5);}
	.menu-top .dropdown-menu:after{
		content: "";
		display: block;
		position: absolute;
		top: -9px;
		left: 10%;
		z-index: 2;
		width: 0;
		height: 0;
		border-left: 10px solid transparent;
		border-right: 10px solid transparent;
		border-bottom: 10px solid #0C0C0C;}
	.menu-top .dropdown-account .dropdown-menu:after{left:32px;}
	.menu-top .dropdown-item{color: #FFFFFF;}
		.dropdown-item:focus, .dropdown-item:hover{color:#FEBB00;background-color: rgba(0,0,0,0);}
	.main-menu .dropdown-menu{min-width: 600px;}
	.main-menu .dropdown-menu .dropdown-item{width: 32.5%; display: inline-block;}
	.menu-top .dropdown-account span{display: inline-block; position: relative;}
	.menu-top .dropdown-account label.new-notification{
		position: absolute;
		width: 8px;
		height: 8px;
		border-radius: 8px;
		background-color: red;
		top: 0;
		right: -10px;
	}
.form-search{
	display: inline-block;
	position: relative;
	height: 30px;
	vertical-align:middle;
	margin-right: 15px;}

.form-search input[type="text"] {
  height: 30px;
  font-size: 14px;
  display: inline-block;
  border: none;
  outline: none;
  color: #e5e5e5;
  padding: 3px;
  padding-right: 60px;
  width: 0px;
  position: absolute;
  top: 0;
  right: 0;
  background: none;
  z-index: 3;
  transition: width .4s cubic-bezier(0.000, 0.795, 0.000, 1.000);
  cursor: pointer;
  border-radius: 0;
}

.form-search input[type="text"] {
  border-bottom: 1px solid #BBB;
}

.form-search input[type="text"] {
  width: 200px;
  z-index: 1;
  border-bottom: 1px solid #BBB;
  cursor: text;
}
.form-search input[type="text"]:focus > .form-search ul{display: block;}
.form-search input[type="submit"] {
  height: 30px;
  width: 30px;
  display: inline-block;
  color:red;
  float: right;
  background-image: url(../images/icon-search.png);
  background-repeat: no-repeat;
  background-position: center;
  background-color: rgba(0,0,0,0);
  text-indent: -10000px;
  border: none;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  cursor: pointer;
  opacity: 1;
  cursor: pointer;
  transition: opacity .4s ease;}
.form-search input[type="submit"]:hover {opacity: 0.8;}
.btn-login .icon-login{
	width: 24px;
	height: 24px;
	margin-right: 15px;
	margin-left: 15px;
	display: inline-block;
	vertical-align: middle;
	background-image: url(../images/icon-login.png);
	background-position: 0px 0px;
	background-repeat: no-repeat;}

.carousel{
	padding-top: 45%;
    overflow: hidden;
	width: 100%}
	.carousel-inner{position: absolute; top: 0;}
.carousel:after{
	content: "";
	display: block;
	width: 100%;
	height:80px;
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: 14;
	background: -moz-linear-gradient(top,  rgba(12,12,12,0) 0%, rgba(12,12,12,0) 1%, rgba(12,12,12,0.68) 53%, rgba(12,12,12,0.99) 99%, rgba(12,12,12,1) 100%);
	background: -webkit-linear-gradient(top,  rgba(12,12,12,0) 0%,rgba(12,12,12,0) 1%,rgba(12,12,12,0.68) 53%,rgba(12,12,12,0.99) 99%,rgba(12,12,12,1) 100%);
	background: linear-gradient(to bottom,  rgba(12,12,12,0) 0%,rgba(12,12,12,0) 1%,rgba(12,12,12,0.68) 53%,rgba(12,12,12,0.99) 99%,rgba(12,12,12,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000c0c0c', endColorstr='#0c0c0c',GradientType=0 );
}
.carousel-indicators{bottom:10px; }
.carousel-indicators li{
	width: 10px;
	height: 10px;
	padding:3px;
	margin:5px;
	border-radius: 80px;
	border-top: 0;
	border-bottom: 0;
}
.carousel-indicators li.active{background-color: #FEBB00;}
.btn-play{
	color:#FEBB00;
	width: 220px;
	height: 80px;
	display: block;
	font-size: 32px;
	text-transform: uppercase;
	text-indent: 50px;
	font-weight: bold;
	border: 4px solid #FEBB00;
	border-radius: 5px;
	position: absolute;
	top: 60%;
	left: 50%;
	transform: translateX(-50%);
	background-image: url(../images/icon-play.png);
	background-position: 30px 15px;
	background-repeat: no-repeat;
	background-color: rgba(0,0,0,0);
	box-shadow: 0 4px 15px rgba(0,0,0,0.5);
	text-shadow: 0 4px 15px rgba(0,0,0,0.5);}
	.btn-play:hover{
		filter: brightness(500%) grayscale(100%);}
.panel-vod,.panel-channel{margin-top: 40px;}
.title-cate{
	font-size:20px;
	font-weight: bold;
	color: #FEBB00;
	padding-bottom: 15px}
	.title-cate a{color: #FEBB00;}
	.title-cate a:hover{color: #FFF;}
	.title-cate span{
		display: inline-block;
		position: relative;}
	.title-cate span:after{
		content: "";
		background: #FEBB00;
		width:50%;
		height: 3px;
		border-radius: 3px;
		position: absolute;
		bottom: -5px;
		left: 0;}
		.title-cate a:hover span:after{background: #FFF;}
.list-vod .item{transition: width .3s;}
.list-vod .item .img-16-9,
.list-vod .item .img-4-6{display: block;}
.list-vod .item .img-16-9:after,
.list-vod .item .img-4-6{
	transition: all ease-in-out .5s;
	animation-fill-mode: all;}
.list-vod .item .img-16-9:hover:after,
.list-vod .item .img-4-6:hover:after{
	content: "";
	display: block;
	background-image: url(../images/icon-play.png);
	background-position: 55% 60%;
	background-size: 25px;
	background-repeat: no-repeat;
	border: 2px solid #FEBB00;
	border-radius: 50px;
	width: 45px;
	height: 45px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	box-shadow: 0 4px 15px rgba(0,0,0,0.5);}
.img-16-9,.img-4-6{
	background-color: #000;
	position: relative;
	width: 100%;
	overflow: hidden;
	border-radius: 3px;}
.img-16-9{padding-top: 56.25%;}
.img-4-6{padding-top: 143%;}
   .img-16-9 .inline,
   .img-4-6 .inline{
	   position:  absolute;
	   top: 0;
	   left: 0;
	   bottom: 0;
	   right: 0;
	   text-align: center;
	   font-size: 20px;
	   color: white;
		transition: width .3s width;}
	  	.img-16-9 .inline img,.img-4-6 .inline img{
	  		display: block;
	  		position: absolute;
			top: 50%;
			left: 50%;
	  		transition: width .3s width;
			transform: translateX(-50%) translateY(-50%);}
.list-vod .item .img-16-9:hover .inline img,
.list-vod .item .img-4-6:hover .inline img{
	width: 110%;
	max-width:none;
}
.list-vod .item p{
	margin-top: 5px;
	width: 100%;
	display: block;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;}
	.list-vod .item a{color: #E5E5E5;}
	.list-vod .item p:hover{color: #FEBB00;}

.list-vod.channel .item .img-16-9{
	background-color: #fff;	
	background-image: url(../images/bg-channel.png);
	background-position: 0 0;
	background-repeat: no-repeat;
	background-size: 100%;
}
footer{
	margin-top: 100px;
	padding-top: 65px;
	padding-bottom: 50px;
	background-color:#000;
	color: #8C8C8C;
	font-size: 14px;}
	footer .logo{display: block; margin-bottom: 15px;}
	footer a{color: #8C8C8C; display:block; margin-bottom: 10px;}
	footer p.title{color: #FEBB00; margin-top: 25px; margin-bottom: 15px; font-weight: bold;}
	footer .da-dang-ky{text-align: center; margin-bottom: 15px;margin-top:30px;}
	footer .da-dang-ky a{display: inline-block; margin:0 5px;filter: grayscale(50%);}
	footer .da-dang-ky a:hover{filter: grayscale(0);}
	footer .follow{ text-align: right;line-height: 50px;margin-top: 30px;}
		footer .follow a{display: inline-block; margin:0 5px;filter: grayscale(100%);}
		footer .follow a:hover{filter: grayscale(0);}
	footer .copyright{line-height: 50px;margin-top: 30px;}
.support-func{
	position:fixed;
	/*display:block;*/
    display: none;
	width: 70px;
	height: 60px;
	right: 15px;
	bottom: 20px;
	z-index: 9}
.support-func .icon-support{
	display: block;
	width: 70px;
	height: 60px;
	background-image: url(../images/icon-support.png);
	background-position: 0 0;
	background-repeat: no-repeat;
	background-size: 100%;}
	.support-func .icon-support:hover{
		filter: brightness(150%) grayscale(100%);}

.banner-category{
	position: relative;
	width: 100%;
	overflow: hidden;}
.banner-category.carousel{padding-top: 640px}
.banner-category .carousel-item{background-position: 0 -50px}
.banner-category .carousel-item:after{
	content: "";
	display: block;
	width: 100%;
	height:80px;
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: 14;
	background: -moz-linear-gradient(top,  rgba(12,12,12,0) 0%, rgba(12,12,12,0) 1%, rgba(12,12,12,0.68) 53%, rgba(12,12,12,0.99) 99%, rgba(12,12,12,1) 100%);
	background: -webkit-linear-gradient(top,  rgba(12,12,12,0) 0%,rgba(12,12,12,0) 1%,rgba(12,12,12,0.68) 53%,rgba(12,12,12,0.99) 99%,rgba(12,12,12,1) 100%);
	background: linear-gradient(to bottom,  rgba(12,12,12,0) 0%,rgba(12,12,12,0) 1%,rgba(12,12,12,0.68) 53%,rgba(12,12,12,0.99) 99%,rgba(12,12,12,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000c0c0c', endColorstr='#0c0c0c',GradientType=0 );}
.banner-category .carousel-item:before{
	content: "";
	display: block;
	width: 100%;
	height:640px;
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: 13;
	background: -moz-linear-gradient(45deg,  rgba(12,12,12,1) 0%, rgba(12,12,12,0) 60%);
	background: -webkit-linear-gradient(45deg,  rgba(12,12,12,1) 0%,rgba(12,12,12,0) 60%);
	background: linear-gradient(45deg,  rgba(12,12,12,1) 0%,rgba(12,12,12,0) 60%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0c0c0c', endColorstr='#000c0c0c',GradientType=1 );}

.banner-category .container{
	position: relative;
	height: 640px;
	overflow: hidden;}
.banner-category .desc-vod{
	position: absolute;
	width: 45%;
	z-index: 16;
	left: 0;
	bottom: 60px;
	color: #E5E5E5;
	font-size: 20px;}
	.banner-category h3{
		font-size: 35px;
		font-weight: 600;
		color: #FEBB00;
		margin-bottom: 30px;}
	.banner-category p{margin-bottom: 30px;}
	.banner-category p a{color: #FEBB00;}

.btn-play-small{
	color:#FEBB00;
	min-width: 125px;
	line-height: 38px;
	padding: 0 0 0 20px;
	display: inline-block;
	font-size: 16px;
	text-transform: uppercase;
	font-weight: bold;
	border: 2px solid #FEBB00;
	border-radius: 5px;
    background-image: url(../images/icon-play-small.png);
    background-position: 23px 10px;
    background-repeat: no-repeat;
	background-color: rgba(0,0,0,0);
	box-shadow: 0 4px 15px rgba(0,0,0,0.5);
	text-shadow: 0 4px 15px rgba(0,0,0,0.5);
}
.btn-xemsau{
	color:#707070;
	padding: 0 25px 0 20px;
	line-height: 38px;
	display: inline-block;
	font-size: 16px;
	text-transform: uppercase;
	font-weight: bold;
	border: 2px solid #707070;
	border-radius: 5px;
	background-color: rgba(0,0,0,0);
	box-shadow: 0 4px 15px rgba(0,0,0,0.5);
	text-shadow: 0 4px 15px rgba(0,0,0,0.5);}
	.btn-play-small i{font-size: 20px;}
	.btn-play-small i,.btn-xemsau i{margin-right: 10px;}
	.btn-play-small:hover,.btn-xemsau:hover{filter: brightness(500%) grayscale(100%);}
.category-tabs.nav-tabs{
	border-bottom: 0px;
	font-size:18px;
	margin-bottom: 30px;
	margin-top: 15px;}
.category-tabs.nav-tabs .nav-item.show .nav-link, .category-tabs.nav-tabs .nav-link.active{
	color:#FEBB00;
	border: 1px solid transparent;
	background: transparent;}
.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover{border: 1px solid transparent;}
.category-tabs.nav-tabs .nav-item{position: relative; margin-left: 5px; margin-right: 5px}
.category-tabs.nav-tabs .nav-item .nav-link:after{
	content: "";
  position: absolute;
  border-radius: 2px;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #FEBB00;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.5s cubic-bezier(1, 0.25, 0, 0.75) 0s;
  transition: all 0.5s cubic-bezier(1, 0.25, 0, 0.75) 0s;
}
.category-tabs.nav-tabs .nav-item:hover .nav-link:after,
.category-tabs.nav-tabs .nav-item:focus .nav-link:after,
.category-tabs.nav-tabs .nav-item.show .nav-link:after,
.category-tabs.nav-tabs .nav-link.active:after{
	visibility: visible;
	-webkit-transform: scaleX(1);
	transform: scaleX(1);}
.container .func a{
	font-size: 13px;
	color:#8C8C8C;
	display: inline-block;
	padding-left: 25px;
	background-position: 0px 0px;
	background-repeat: no-repeat;}
.func a.like{
	background-image: url(../images/icon-like.svg);
	background-size: 20px 20px;}
.func a.view{
	background-image: url(../images/icon-view.svg);
	background-size: 20px 20px;}
.func a.share{
	background-image: url(../images/icon-share.svg);
	background-size: 20px 20px;}
.func a.trailer{
	background-image: url(../images/icon-trailer.svg);
	background-size: 20px 20px;}

/*.detail-vod-left .func{margin-top: 30px; margin-bottom: 25px;}*/
.container .detail-vod-left .func a{
	font-size: 16px;
	padding-left: 40px;
	padding-bottom: 5px;
	margin-right: 30px;
	background-size: 28px 28px;}

.category-tabs-item .item{margin-bottom: 20px;margin-top: 20px;}
.player-section{
	background-color: #000;
	padding-top: 70px;
	padding-bottom: 50px;}
.icon-back{
    width:30px;
}
.detail-vod-left .item{
	position: absolute;
	width: 110px;
}
.detail-vod-left .detail{/*padding-left: 145px;*/}
.detail-vod-left .detail h3{ margin-bottom: 5px; }
.detail-vod-left .detail .detail-info a.icon-goicuoc{
	font-size: 13px;
	color:#FFBB00;
	text-transform: uppercase;
	display: inline-block;
	padding-left: 25px;
	background-position: 0px 9px;
	background-repeat: no-repeat;
	background-image: url(../images/icon-goi-cuoc.svg);
	background-size: 16px 16px;}
.detail-vod-left .detail .detail-info a, .detail-vod-left .detail .detail-info span{
	font-size: 13px;
	color:#8C8C8C;
	display: inline-block;}
	.detail-vod-left .detail .detail-info a:hover{color:#FFBB00;}
	.detail-vod-left .detail .detail-info a:after{
		content: ".";
		font-size: 18px;
		font-weight: bold;
		padding:0 5px;}
	.detail-vod-left .detail .detail-info span.label-16,.detail-vod-left .detail .detail-info span.label-hd{
		font-size:14px;
		font-weight: 600;
		border-radius: 3px;
		border:2px solid #474747;
		margin-left: 10px;
		padding:2px 5px;
	}
ul.more-info{
	margin-left: 0;
	list-style-type: none;
}
ul.more-info li{
	position: relative;
	padding-left: 120px;
	margin-bottom: 10px;}
ul.more-info li span,.panel-comment ul li .avatar{
	position: absolute;
	left: 0;
	color:#8C8C8C;}
.panel-comment{margin-top: 75px;}
.panel-comment ul{
	margin-top: 30px;
	margin-left: 0;
	list-style-type: none;}
.panel-comment ul li{
	position: relative;
	padding-left: 60px;
	margin-bottom: 30px;}
	.panel-comment ul li span{color:#8C8C8C; font-size: 13px; margin-top: 5px; display: inline-block;}
.text-decs{margin-top: 30px;}
.form-comment{
	background-color: #000;
	padding:10px 0px 0px 10px;}
	.form-comment .avatar{
		display: inline-block;
		margin-right: 15px;
		vertical-align: top;}
	.form-comment textarea{
		color:#8C8C8C;
		border:0px solid #ccc;
		background-color: #000;
		display: inline-block;
		width: 80%;}
	.form-comment button.btn-send{
		width: 50px;
		height: 50px;
		display: inline-block;
		border:0px;
		background-position: center;
		background-color: transparent;
		background-repeat: no-repeat;
		background-image: url(../images/icon-send.svg);
		background-size: 24px 24px;}
.list-episodes{
	margin-left: 0;
	list-style-type: none;}
	.list-episodes li{
		display: inline-block;
		border:1px solid #707070;
		border-radius: 3px;
		padding:2px 0px 3px 0px;
		margin-right: 7px;
		margin-bottom: 15px;
		min-width: 80px;
		text-align: center;}
	.list-episodes li a{color:#E5E5E5;}
	.list-episodes li:hover a{color:#FFBB00;}
	.list-episodes li:hover,.list-episodes li.active{border:1px solid #FFBB00;}
.table-account{margin-top: 12%; font-size: 16px;}
	.table-account .tab-content{margin-left: 15px;}
	.table-account .left{
		background-color: #000;
		border-radius: 5px;
		padding-top: 50px;
		padding-bottom: 50px;
		min-height: 520px;}
	.table-account .nav-pills .nav-link{
		text-align: right;
		position: relative;
		color: #8C8C8C;
		padding:10px 30px 10px 15px ;
		width: 100%;}
	.table-account .nav-pills{position: relative;}
	.table-account .nav-pills:after{
		content:"";
		right: 0;
		top: -10%;
		width: 2px;
		border-radius: 2px;
		height: 140%;
		background-color: #707070;
		position: absolute;
		z-index: 1;}
	.table-account .nav-pills .nav-link.active,
	.table-account .nav-pills .show>.nav-link,
	.table-account .nav-pills .nav-link:hover{
		background-color: transparent;
		color:#FFBB00;}
	.table-account .nav-pills .nav-link.active:after{
		content: "";
		position: absolute;
		border-radius: 4px;
		width: 4px;
		height: 100%;
		right: -1px;
		top: 0;
		background-color: #FFBB00;
		z-index: 2;}
	.table-account .icon-edit{
		display: inline-block;
		margin-left: 15px;
		width: 30px;
		height: 30px;
		vertical-align: bottom;
		background-position: center;
		background-color: transparent;
		background-repeat: no-repeat;
		background-image: url(../images/icon-edit.svg);
		background-size: 18px 18px;
		filter: grayscale(100%);}
		.table-account .icon-edit:hover{filter: grayscale(0%);}
	.table-account .title-cate{margin-bottom: 30px;}
	.table-account .info li{
		margin-bottom: 10px;}
		.table-account .info li label{width: 150px; color: #8C8C8C}
.table-account .right-account{
	background-color: #000;
	border-radius: 5px;
	color: #8C8C8C;
	padding:20px;
	min-height: 520px;}
	.table-account .right-account .header{
		padding-top: 15px;}
	.table-account .right-account .header h3{
		font-size:20px;
		color: #FFBB00;
		font-weight: bold;
		margin-top: 10px;
		padding-bottom: 30px;
		margin-bottom: 15px;
		border-bottom: 1px solid #383838}
.suggest-xu .inline {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 16px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;}
	.suggest-xu .inline input {
	  position: absolute;
	  opacity: 0;
	  cursor: pointer;}
	.suggest-xu .checkmark {
	  position: absolute;
	  top: 4px;
	  left: 0;
	  height: 18px;
	  width: 18px;
	  background-color: transparent;
	  border:1px solid #8C8C8C;
	  border-radius: 50%;
	-webkit-transition: all 0.5s;
	  transition: all 0.5s;}
	.suggest-xu .container:hover input ~ .checkmark {
	  background-color: #FFBB00;
	  border:1px solid #FFBB00;}
	.suggest-xu .inline input:checked ~ .checkmark {border:1px solid #FFBB00;}
	.suggest-xu .checkmark:after {
	  content: "";
	  position: absolute;
	  display: none;}
	.suggest-xu .inline input:checked ~ .checkmark:after {display: block;}
	.suggest-xu .inline .checkmark:after {
	 	top: 2px;
		left: 2px;
		width: 12px;
		height: 12px;
		border-radius: 50%;
		background: #FFBB00;}
	.suggest-xu .inline input.input-xu{
		opacity: 1;
		color: #8C8C8C;
		border:1px solid #383838;
		background-color: #000;
		border-radius: 5px;
		position: relative;
		text-indent: 10px;
		height: 32px;}
		.suggest-xu .inline input.input-xu::placeholder{color: #383838}
	.btn-suggest-xu{
		background-color: #FFBB00;
	 	 border:1px solid #FFBB00;
	 	 display: block;
	 	 width: 100%;
	 	 text-align: left;
	 	 border-radius: 3px;
	 	 padding: 2px;
	 	 margin-top:30px;}
	 	 .btn-suggest-xu img{margin-right: 30px;}

.table-account .change-pass input{
	border-radius: 50px;
	border:1px solid #8C8C8C;
	height: 38px;
	min-width: 300px;
	color: #E5E5E5;
	background-color: transparent;
	padding:3px 15px;}
	.table-account .change-pass li{margin-bottom: 20px;}
	.table-account .change-pass li label{width: 200px; color: #8C8C8C}
	.table-account .change-pass li:last-child{margin-left: 200px}
	.table-account .change-pass .btn-orange,.table-account .change-pass .btn-grey{
		min-width: 145px;
		height: 36px;
		border-radius: 50px;
		text-transform: uppercase;}
	.table-account .change-pass .btn-orange{
		background-color: #FFBB00;
		border:1px solid #FFBB00;
		color: #000;}
	.table-account .change-pass .btn-grey{
		background-color: #707070;
		border:1px solid #707070;
		color: #fff;}
.table-account .table-history,.table-account .table-manage-device,.table-account .table-upgrade{
	color: #E5E5E5;}
.table-account .table-history th,.table-account .table-manage-device th,.table-account .table-upgrade th{
	color: #8C8C8C;
	background-color: #232323;
	border:1px solid #232323;
	border-bottom: 0px;}

	.table-account .table-manage-device th{width: 33%}
	.table-account .table-history td,
	.table-account .table-manage-device td,
	.table-account .table-upgrade td{border:1px solid #232323;}
	.table-account .table-manage-device td a,
	.table-account .table-upgrade td a{margin-left: 15px;}
	.table-account .table-manage-device td a i{ margin-right: 15px;}
	.table-account .table-upgrade th{width: 25%}
	.table-account .table-upgrade td:nth-child(1){color:#FFBB00;}
	.table-account .table-upgrade th,.table-account .table-upgrade td:last-child{text-align: center;}
	.table-account .table-upgrade .btn-orange{text-transform: none; margin-left: 0}
	.table-account .table-upgrade td.current{text-align: left;}
	.table-account .table-upgrade td.current span{color: #8C8C8C; font-size: 12px}
.table-account .edit-account,.table-account .edit-account .inline{display: inline-block;}
	.table-account .edit-account .inline input{display: inline-block;min-width: 50px;}
	.table-account .edit-account label.inline{width: 90px;}
	.table-account .edit-account select{
		border-radius: 50px;
		border:1px solid #8C8C8C;
		height: 38px;
		min-width: 100px;
		color: #E5E5E5;
		background-color: transparent;
		padding:3px 15px;}
		.table-account .edit-account select option{background-color: #0C0C0C;}
		.table-account .edit-account select option:focus,.table-account .edit-account select option:hover{background-color: #FFBB00;}
.table-account .table-history th:nth-child(1){width: 30%}
.table-account .table-history th:nth-child(2){width: 25%}
.table-account .table-history th:nth-child(3){width: 20%}
.table-account .table-history .date{font-size: 14px; text-align: center;color: #8C8C8C}
.table-account .table-history .status{text-align: center;color: #8C8C8C}
.table-account .table-history .status.success{color: #71C81A}
.table-account .table-history .price{color: #FFBB00; font-weight: bold; text-align: right;}
.table-account .table-history .package{color: #FFBB00; font-weight: bold; text-align: center;}
.table-account .table-history .package a{font-size: 12px;color: #8C8C8C; display: block; font-weight: normal;}
.table-account .table-history .package a:hover{color: #FFBB00;}
.modal.fade .modal-dialog{
	top: 30%;
	transform: translateY(-30%);}
	.modal-content{
 		text-align: center;
 		border-radius: 15px;
 		font-size: 16px;
 		color: #0C0C0C}
.success-modal .icon-check{
	margin-top: -50px;
 	text-align: center;}
 	.success-modal h3,.login-modal .modal-header .modal-title{
 		color: #FFBB00;
 		font-size: 25px;
 		text-transform: uppercase;
 		margin-top: 20px;
 		margin-bottom: 20px;}
 	.btn-grey{
 		min-width: 145px;
		height: 36px;
		border-radius: 50px;
		text-transform: uppercase;
		background-color: #707070;
		border:1px solid #707070;
		color: #fff;
		margin:15px 0;
 	}
.login-modal .modal-content{min-width: 600px;}
.login-modal .modal-header{
	border-bottom: 0;
	padding:30px 15px 0 15px;}
	.login-modal .modal-header .modal-title{text-align: center; display: block;width:100%;}
	.login-modal .modal-body input{
		border-radius: 50px;
		margin-bottom: 20px;
		line-height: 50px;
		height: 50px;
		padding-left: 30px;
	}
	.login-modal .modal-body{padding:15px 50px;}
	.login-modal .modal-body .btn-orange{
		width: 100%;
		height: 50px;
		border-radius: 50px;
		text-transform: uppercase;
		background-color: #FFBB00;
		border:1px solid #FFBB00;
		color: #000;}
.login-modal .modal-body .other-login{
	position: relative;
	margin-top: 15px;
	padding-top: 15px;}
	.login-modal .modal-body .other-login:after{
		content: "Hoặc";
		background-color: #fff;
		padding:0 15px;
		top: 0px;
		left: 50%;
		transform: translateX(-50%);
		position: absolute;
		z-index:2;}
	.login-modal .modal-body .other-login:before{
		content: "";
		background-color: #8C8C8C;
		position: absolute;
		z-index:1;
		width: 70%;
		height: 1px;
		left: 15%;
	}
	.login-modal .modal-body .other-login a{
		display: inline-block;
		width: 48px;
		height: 48px;
		margin: 50px 30px 50px 30px;}
	.login-modal .modal-body .href-singup{color: #8C8C8C; padding-bottom: 20px;}
	.login-modal .modal-body .href-singup a{color:#FFBB00;}
	.login-modal .close{font-size: 3rem; font-weight: lighter;}
	.btn-orange{
		text-transform: uppercase;
		background-color: #FFBB00;
		border:1px solid #FFBB00;
		color: #000;}

.navigation{margin-top: 50px;}
.page-item{margin:0 5px;}
	.page-link{
		background-color: #0C0C0C;
		border-color:#212529;
		color: #FEBB00;
		border-radius: 50px;
		padding:.5rem .80rem;}
	.page-item.disabled .page-link{background-color: #212529;border-color:#212529;}
	.page-link:hover{background-color:#FEBB00;border-color:#FEBB00;color: #0C0C0C}
	.page-item:first-child .page-link,.page-item:last-child .page-link{border-radius: 50px;}
.container.p-related{position: relative;}
.category-tabs.nav-tabs.mt-50,.mt-50{margin-top: 150px!important;}
.poster-player{
	position: absolute;
	width: 97.5%;
	z-index: 9;
	padding-top: 50%;
	background-color: #000;
	overflow: hidden;}
	.poster-player:after{
		content: "";
		display: block;
		background-image: url(../images/icon-player.svg);
		background-position: 55% 60%;
		background-size: 122px;
		background-repeat: no-repeat;
		border-radius: 50px;
		width: 120px;
		height: 120px;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translateX(-50%) translateY(-50%);
		box-shadow: 0 4px 15px rgba(0,0,0,0.5);}
   .poster-player .inline{
	   position:  absolute;
	   top: 0;
	   left: 0;
	   bottom: 0;
	   right: 0;
	   text-align: center;
	   font-size: 20px;
	   color: white;}
	   .poster-player img{
	  		display: block;
	  		position: absolute;
			top: 50%;
			left: 50%;
	  		transition: width .3s ease-in-out;
			transform: translateX(-50%) translateY(-50%);}
.package-modal .modal-content{min-width: 600px;}
.package-modal .modal-body{padding:30px;}
.package-modal .modal-header{text-transform: uppercase; color: #FFBB00}
.package-modal li{padding-top:5px; padding-bottom: 5px;}
.package-modal li div{width: 49%; display: inline-block;}
.package-modal li div.left-modal{text-align: left;color:#383838}
.package-modal li div.right-modal{text-align: right;}
.package-modal li div.text-bold{font-weight: bold;}
.package-modal .modal-footer{
	background-color: #E5E5E5;
	padding:15px 0;
	text-align: center;
	border-radius: 0 0 15px 15px;}
	.package-modal .modal-footer h4{font-weight: bold; font-size: 25px; margin-bottom: 10px; margin-right: 30px;}
.search-result,.news-detail,.news-category{padding-top:90px;}
.search-result .result h4{color:#8C8C8C}
.search-result .result h4 span{color: #FFBB00; text-transform: capitalize;}
.search-result .filter{margin-bottom: 50px;}
.search-result .filterx	{border: 1px solid #383838; background-color: #000; border-radius: 50px; padding-right: 15px;}
.search-result .filter h5{color:#8C8C8C}

.custom-select {
  position: relative;
  padding:0px;
  background-color: transparent;
  border: 0px;}

.custom-select select {
  display: none; /*hide original SELECT element: */
  color:#8C8C8C;}

.select-selected {
  background-color: #000;
  border: 1px solid #383838;}

/* Style the arrow inside the select element: */
.select-selected:after {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #fff transparent transparent transparent;}

/* Point the arrow upwards when the select box is open (active): */
.select-selected.select-arrow-active:after {
  border-color: transparent transparent #fff transparent;
  top: 7px;}

/* style the items (options), including the selected item: */
.select-items div{
  color: #E5E5E5;
  padding: 6px 16px;
  cursor: pointer;}
.select-items div:hover{color: #FFBB00;}
.select-selected {
  color: #E5E5E5;
  padding: 6px 16px;
  border: 1px solid #383838;
  cursor: pointer;
  border-radius:5px;}

/* Style items (options): */
.select-items {
  position: absolute;
  background-color:#383838;
  border: 1px solid #383838;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;}

/* Hide the items when the select box is closed: */
.select-hide {display: none;}

.select-items div:hover, .same-as-selected {background-color: rgba(0, 0, 0, 0.1);}
.news-detail .title{ margin-bottom: 50px;color:#FEBB00;}
.news-detail .detail img{padding:50px;}
.current-post{font-size: 14px;color:#8C8C8C; display: block; margin-top: 10px;}
.view-more{
	margin-top: 15px;
	display:block;
	line-height: 20px;}
.view-more i{
	border:1.5px solid #8C8C8C;
	border-radius: 50px;
	display: inline-block;
	text-align: center;
	width: 20px;
	height: 20px;
	line-height: 18px;
	margin-left: 5px;}
	.view-more:hover i{color:#FEBB00;border:1.5px solid #FEBB00;}
.news-category .item{margin-top:50px}
.news-category .item p{color:#8C8C8C;}
.news-footer{
	text-align: right;
	margin-right: 30px;
	margin-top: 30px;
	font-weight: bolder;
	color:#8C8C8C;}

.icon-search{
	position:absolute;
	top: 18px;
	right: 20px;
	width: 24px;
	height: 24px;
	border:0px;
	background-color: transparent;
	background-image: url(../images/icon-search.png);
	background-position: 0px 0px;
	background-repeat: no-repeat;}
.icon-search[type="button"]{z-index: 2;}
.icon-search[type="submit"]{z-index: 2;}
.box-search .box-search-inline{
	position:absolute;
	top: 0;
	left: 0;
	z-index: 1;
	width: 100%;
	padding:15px;
	background-color: #000;}
	.box-search .box-search-inline.show{display: block;}
	.box-search .box-search-inline input{
		width: 90%;
		display: block;
		border-radius: 50px;
		border:1px solid #383838;
		background-color: rgba(255,255,255,0.1);
		color: #ccc;
		padding:6px 12px;}

.channel-detail{margin-top: 40px; }
.select-channel{
	background-color: #000;
	padding-top: 25px;}
.select-channel .logo{
	width: 96px;
	display: inline-block;
	background-color: transparent;
	background-image: url(../images/bg-channel.png);
	background-position: 0px 0px;
	background-repeat: no-repeat;
	margin-bottom: 15px;
}



.custom-select-channel {
  position: relative;
  font-family: Arial;
  border: 1px solid #383838;
  border-radius: 50px;
  color: #8c8c8c;
  margin-top: 10px;
}

.custom-select-channel select {
  display: none;
}

.custom-select-channel .select-selected {
  background-color:#0C0C0C;
  border-radius: 50px;
}

.custom-select-channel .select-selected:after {
  position: absolute;
  content: "";
  top: 14px;
  right: 15px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #E5E5E5 transparent transparent transparent;
}

.custom-select-channel .select-selected.select-arrow-active:after {
  border-color: transparent transparent #fff transparent;
  top: 7px;
}
.custom-select-channel .select-items div,.custom-select-channel .select-selected {  
  color: #E5E5E5;
  padding: 8px 16px;
  border: 0px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
}
.custom-select-channel .select-items {
  position: absolute;
  background-color:#0C0C0C;
  box-shadow: 0 4px 15px rgba(0,0,0,0.5);
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
  border: 0;
  border-radius: 5px;
}
.custom-select-channel .select-hide {
  display: none;
}

.select-items div:hover, .same-as-selected {
  background-color: #FEBB00;
  color: #000;
}
.select-items div:first-child:hover{border-radius: 5px 5px 0 0}
.select-items div:last-child:hover{border-radius: 0 0 5px 5px}
.select-channel .date-epg{
	display: flex;
  	justify-content: center;
  	background-color: #0F0F0F;
  	border-bottom: 3px solid #191919;
  	margin-top: 15px;
  	padding: 0;
}
.select-channel .date-epg .item{
	width: 17.2%;
	text-align: center;
	padding:15px 0;
	border:1px solid #000;
}
.select-channel .date-epg .item.active a{color: #FEBB00}
.select-channel .date-epg .slick-slide{margin:0;}
.wrap-epg{
	overflow-x: scroll;
	background-color: #000;
	padding: 0;
}
.list-epg{
	color: #E5E5E5;
	display: flex;
	flex-wrap: nowrap;
}
.list-epg .item{
	min-width: 220px;
	margin-bottom: 15px;
}
.list-epg .item .timeline{padding:20px 15px;line-height: 30px;color: #383838}
.list-epg .item h4, .list-epg .item h5{font-size: 14px;}
.list-epg .item .content{
	padding: 10px 15px;
	overflow: hidden;
}
.list-epg .item .content h5{color: #8C8C8C; font-weight: bolder;}
.list-epg .item .content h4{
	height: 40px;line-height: 28px;}
.list-epg .item:nth-child(odd) .content{background-color: rgba(255,255,255,.07)}
.list-epg .item:nth-child(even) .content{background-color: rgba(255,255,255,.12)}

	.wrap-epg::-webkit-scrollbar {height: 6px; border-radius: 6px}
  	.wrap-epg::-webkit-scrollbar-track{border-bottom: 6px solid rgba(255,255,255,.1); border-radius: 6px}
  	.wrap-epg::-webkit-scrollbar-thumb{background-color: rgba(255,255,255,.2); border-radius: 6px}


@media (min-width: 1200px){
	.container{max-width:1200px;}
}
@media (max-height: 480px){
	#sidebar .sidebar-header{padding:30px 20px 8px 0px!important;}
}
@media (max-width: 992px){
	body{font-size: 14px;}
	.pc-view{display: none;}
	.mobile-view{display: block;}
	.btn-play{display: none;}
	.navbar-brand{width: 30px;}
	.navbar-toggler-icon{
			background-image: url(../images/icon-toggler.png);
			background-position: 0 0;
			background-repeat: no-repeat;}
	.carousel{padding-top:56.25%;}
		.carousel-indicators{bottom: }
		.carousel:after{height: 25px;}
		.carousel-indicators li{width: 7px; height: 7px;}
	.slider{margin:10px -15px 10px 0px !important;}
	.title-cate{font-size: 14px;}
		.title-cate span:after{height: 2px;}
	footer .follow,footer .copyright,footer .da-dang-ky{text-align: center;margin-top:5px;margin-bottom:5px;}
	.support-func{right: 0px;bottom: 0px;}
	.support-func .icon-support{width: 48px;}
	.panel-vod,.panel-channel{margin-top: 30px;}
	.table-account .left{min-height: inherit; margin-bottom: 15px;}
	.table-account .nav-pills .nav-link{
		width: auto;
		padding:10px 5px;
		border:1px solid #383838;
		margin-right: 5px;
		margin-bottom: 5px;}
	.table-account .nav-pills:after{height:0%;}
	.table-account .nav-pills .nav-link.active:after{
		width: 100%;
		height: 4px;
		top: auto;
		bottom: 0;}
		.table-account .title-cate{margin-top: 30px;}
		.table-account .tab-content{margin-left: 0;}
	.table-account .change-pass li:last-child{margin-left: 0px}
	.table-account .change-pass input{width: 100%;}
	.poster-player{width:92.5%; padding-top: 45%}
	.poster-player:after{width: 50px; height: 50px;background-size:50px;}
	.detail-vod-left .detail h3{font-size: 20px;}
	.form-comment textarea{width: 70%}
	.detail-vod-left .detail{/*padding-left:90px;*/}
	.detail-vod-left .item{width: 80px;}
	/*.detail-vod-left .func{margin-left: -80px;}*/
	.container .detail-vod-left .func a{
		background-size:20px 20px;
		padding-left: 25px;
	    margin-right: 25px;
	    font-size: 14px;}
	.news-detail .detail img{padding:20px 0px;}
	.login-modal .modal-content{min-width:auto;}
	.login-modal .modal-body{padding:15px 30px;}
	.banner-category .desc-vod{left: 15px;width: 90%; font-size: 16px;}
	.banner-category h3{font-size: 25px;}
	.banner-category .carousel-item{
		background-repeat: no-repeat;
		background-size: 100%;
		background-position: 0 60px;}
	.banner-category .container{height: 460px;  }
	.banner-category.carousel{padding-top: 460px}
	.banner-category .carousel-item:before{height: 46%;}
	.banner-category h3{margin-bottom: 15px;}
	.category-tabs.nav-tabs{font-size: 16px;}
	.custom-select{margin-bottom: 15px;}
    .player-section{
        padding-top: 60px;}
    .icon-back{width:20px;}
    .icon-search[type="button"]{z-index: 1;}
    .icon-search[type="submit"]{z-index: 3;}
    .wrap-epg{padding:0 15px;}
}
